.row.media.movie
    .col-sm-1.col-xs-12
        a.pull-left.thumbnail
            unless (movie_search)
                img.media-object.movie-thumbnail(src="#{mdb_imgurl + movie.thumbnail}", alt="movie")
            else
                unless (movie.poster_path === null)                    
                    img.media-object.movie-thumbnail(src="#{mdb_imgurl + movie.poster_path}", alt="movie")
                else
                    img.media-object.movie-thumbnail(src="http://d3a8mw37cqal2z.cloudfront.net/assets/e6497422f20fa74/images/no-poster-w92.jpg", alt="movie")                
    .col-sm-11.col-xs-12.media-body
        .row
            .col-xs-12
                h4.media-heading #{movie.title}
        if (watched_movies || unwatched_movies)
            .row
                .col-xs-12
                    p.movie-overview #{movie.overview}
            .row
                .col-xs-12
                    .movie-tags
                        each tag in movie.genres
                            if (watched_movies)
                                a(href='/watched-movies/tag/#{tag.name}')
                                    span.label.label-info.tag
                                        i.fa.fa-tag 
                                        | #{tag.name}
                            if (unwatched_movies)
                                a(href='/unwatched-movies/tag/#{tag.name}')
                                    span.label.label-info.tag
                                        i.fa.fa-tag 
                                        | #{tag.name}
        .row
            .col-xs-12
                .actions
                    unless (watched_movies)
                        form.pull-left.add-watched-control(role="form", action="/addWatchedMovie", method="POST")
                            div.form-group
                                if (unwatched_movies)
                                    input#addUnwatchedMovie.form-control(type="hidden", value="#{movie.moviedb_id}", name="id")
                                else
                                    input#addUnwatchedMovie.form-control(type="hidden", value="#{movie.id}", name="id")                            
                                button.btn.btn-success.btn-sm(type="submit") I've watched it!

                    unless (watched_movies || unwatched_movies)
                        form.add-unwatched-control(role="form", action="/addUnwatchedMovie", method="POST")
                            div.form-group
                                input#addWatchedMovie.form-control(type="hidden", value="#{movie.id}", name="id")
                                button.btn.btn-primary.btn-sm(type="submit") I want to watch it!
                    if (watched_movies)
                        form.add-watched-control(role="form", action="/deleteWatchedMovie", method="POST")
                            div.form-group
                                input#deleteWatchedMovie.form-control(type="hidden", value="#{movie.id}", name="id")
                                button.btn.btn-danger.btn-sm(type="submit") Delete
hr