extends loggedLayout

block content
    h1= title
    form(role="form", action="/movieSearch", method="GET")
        div.form-group
            label(for="searchBox") What are you watching?
            input#searchBox.form-control(type="text", name="movieName", placeholder="Type a movie or tv show")
    each movie in movies
        .well
            if (movie.type == 'movieWatched')
                p 
                    strong #{movie.username} 
                    | has watched #{movie.movie}
            if (movie.type == 'movieUnwatched')
                p
                    strong #{movie.username} 
                    | wants to watch #{movie.movie}

