extends layout

block content
    h1= title
    p Welcome to #{title}
    form(role="form", action="/movieSearch", method="GET")
        div.form-group
            label(for="searchBox") What are you watching?
            input#searchBox.form-control(type="text", name="movieName", placeholder="Type a movie or tv show")
    each movie in movies
        .media
            a.pull-left
                img.media-object.movie-thumbnail(src="#{movie.posters.thumbnail}", alt="movie")
            .media-body
                h4.media-heading #{movie.title} (#{movie.year})
                p #{movie.critics_consensus}
                div.actions
                    a.pull-left(href="#") I want to watch it
        hr
    a(href='/logout') Logout

